:root {
    --container-padding-top-bottom: 10px;
    --container-padding-left-right : 10%;
    --cards-container-height: 600px;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f8f9fc;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: var(--container-padding-top-bottom) var(--container-padding-left-right);
}


/* header */
header {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    animation: header-animation 1s;
}

@keyframes header-animation {
    0% {
        margin-top: -50px;
    }
    100% {
        margin-top: 0;
    }
}

.header-logo {
    display: block;
}

.user-logo-container,
.notification-container {
    cursor: pointer;
    transition: .3s;
}

.notification-container {
    font-size: 25px;
    color: #bec9da;
}

.notification-container:hover {
    color: #999ab1;
}

.user-info-block-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-info-wrp {
    padding-left: 20px;
}

.user-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f8991c;
    font-size: 16pt;
    font-weight: bold;
    color: #fff;
}

.user-logo-container:hover {
    background-color: #ff7c00;
}

.user-logo,
span.user-name,
a.menu-option {
    display: block;
}

.menu {
    display: none;
    position: absolute;
    z-index: 999999;
    right: calc(var(--container-padding-left-right));
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 1px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.menu:hover {
    display: block;
}

a.menu-option {
    text-decoration: none;
}

.user-logo-container:active + .menu{
    display: block;
}

.user-name {
    padding: 5px 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: .9rem;
    border-bottom: 2px solid #cccdd0;
    color: #cccdd0;
}

.menu-option {
    color: #000;
    padding: 10px 5px;
}

.menu-option:hover{
    background-color: #f8f7fe;
}

.content-grid {
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 35% 15%;
    grid-template-rows: repeat(8, calc(var(--cards-container-height)/8));
    position: relative;
}

.bsa-card,
.qa-card,
.php-card,
.java-card,
.dotnet-card,
.events-card,
.blog-card,
.contacts-card {
    justify-content: center;
    align-items: center;
}

.bsa-card,
.qa-card,
.php-card,
.java-card,
.dotnet-card,
.events-card,
.blog-card,
.contacts-card,
.js-card {
    display: flex;
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.bsa-card {
    background-color: #fff;
    grid-row: 1 / 5;
}

.js-card {
    display: flex;
    background-color: #f4d762;
    grid-row: 1 / 7;
}

.php-card {
    background-color: #8c89bf;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 1 / 4;
}

.qa-card {
    background-color: #21cb77;
    grid-row: 5 / 9;
}

.java-card {
    background-color: #e90046;
    grid-row: 7 / 9;
}

.dotnet-card {
    background-color: #6d0077;
}
.dotnet-card,
.company-info-grid {
    grid-row: 4 / 9;
}

.company-info-grid {
    display: grid;
    grid-template-rows: 40% 40% 20%; 
}

.events-card {
    background-color: #4c82ff;
}

.blog-card {
    background-color: #331da3;
}

.contacts-card {
    background-color: #1c1660;
}

.bs-img-wrp, .card-content-wrp {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bs-join {
    background-color: #2d99ff;
    border: 0;
    color: #fff;
    font-size: 18pt;
    border-radius: 4px;
    padding: 10px 40px;
    transition: .6s;
    cursor: pointer;
}

.bs-join:hover {
    background-color: #2e009e;
}

.bs-img-wrp {
    font-weight: 500;
    color: #fff;
}

.bs-card-logo {
    display: block;
}

.card-logo,
.card-content {
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bsa-card:hover,
.qa-card:hover,
.js-card:hover {
    transform: rotateY(180deg);
}

.card-content {
    background-color: #fff;
    font-weight: bold;
    font-size: 16pt;
    transform: rotateY(180deg);
}

.card-logo {
    display: block;
}

span.card-header {
    display: block;
    font-size: 64pt;
}

.bs-js-img-wrp {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    font-weight: 700;
}